{% load static %}
<!DOCTYPE>
<html>
    <head>
        <title>tilde.town guestbook</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'common/main.css' %}">
        <link rel="stylesheet" href="{% static 'common/form.css' %}">
        <style type="text/css">
         form.tilde {
             border: 0;
         }
         form.tilde th,td {
             padding:0;
         }
         form.tilde input[type=submit] {
             font-size:150%;
         }
        </style>
    </head>
    <body>
        <h1>tilde.town guestbook</h1>
        <marquee>~*~*~*~*say hello*~*~*~*~</marquee>
        <form class="tilde" action="{% url 'guestbook:guestbook' %}" method="post">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" value="sign" >
        </form>

        {% for m in messages %}
        <p>
            {{m.name}} says: {{m.msg}}
        </p>
        {% endfor %}
    </body>
</html>
