{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>tilde.town signup page</title>
        <link rel="stylesheet" href="{% static 'common/main.css' %}">
        <link rel="stylesheet" href="{% static 'common/form.css' %}">
    </head>
    <body>
        <h1>sign up for a <a href="https://tilde.town">tilde.town</a> account</h1>

         {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

         <form class="tilde" action="{% url 'users:signup' %}" method="post">
             {% csrf_token %}
             <table id="signup">
                 <tr>
                     <td colspan="2">
                         <p>
                         <a href="http://tilde.town">tilde.town</a> is a small
                         computer publicly accessible on the internet and meant
                         for sharing. It is intended as an open, welcoming and
                         safe space to explore digital art and digital
                         socialization in a post-facebook age. tilde.town
                         encourages lo-fi HTML art, hi-fi Javascript
                         experiments, lots of ascii art, the sharing of feels,
                         and chatting.
                         </p>
                         <p><strong>
                         If you have any problems with this process, please send
                         a tweet to <a href="https://twitter.com/tildetown">@tildetown</a>
                         or file a <a href="https://tilde.town">helpdesk ticket</a>.
                         </strong></p>
                     </td>
                 </tr>
                 {{ form.as_table }}

             </table>
             <div>
                 <input type="submit" value="sign up <3" />
             </div>
         </form>
    </body>
</html>
