<!DOCTYPE html>
<html>
    <head>
        <title>thanks for signing up!</title>
        <style type="text/css">
            body {
                background-color: #E0B0FF;
            }
        </style>
    </head>
    <body>
        <h1>thanks for signing up for <a href="https://tilde.town">tilde.town!</a>!</h1>
        <p>you'll get an email when your account is live. a human reads over
            each new account and manually activates it, so it might take 1-3
            days. if you think your account has been overlooked, tweet
            <a href="https://twitter.com/tildetown">@tildetown</a> or file a
            <a href="https://cgi.tilde.town/help/tickets">ticket</a>.
        </p>
        <table>
            <tr>
                <td>
                    <h2>in the meantime, check out some of our projects...</h2>
                    <ul>
                        <li><a href="https://tilde.town/~bear/where.html">tilde map</a></li>
                        <li><a href="https://github.com/tildetown/zine/raw/master/issue_1/zine.pdf">zine</a></li>
                        <li><a href="http://tilde.town/~wiki/">our wiki</a></li>
                        <li><a href="https://tilde.town/~karlen/">no one will ever read this but</a></li>
                        <li><a href="https://tilde.town/~kc/blackout/">black out</a></li>
                        <li><a href="https://tilde.town/~subtransience/machinecode/index.html">the machine room</a></li>
                    </ul>
                    <h2>or a <a href="https://cgi.tilde.town/users/random">random page</a></h2>
        </td>
        <td style="padding:1em">
            <a href="http://giphy.com/gifs/cyndipop-golden-girls-bea-arthur-ToMjGpK80QLT7KLWPLO">
                <img width="99%" height="99%" src="https://tilde.town/~vilmibm/images/thanksforfriend.gif">
            </a>
        </td>
            </tr>
        </table>
    </body>
</html>
