<!DOCTYPE html>
<html>
    <head>
        <title>tilde.town signup page</title>
        <style type="text/css">
         td.label {
             width:40%;
         }
         td.label p:first-child {
             font-weight:bold;
         }
         td.label p:last-child {
             font-style: oblique;
             font-size:80%;
         }
        </style>
    </head>
    <body>
        <h1>sign up for a tilde.town account</h1>

         {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

         <form action="{% url 'users:signup' %}" method="post">
             {% csrf_token %}
             <!-- TODO captcha of some kind -->
             <table id="signup">
                 <tr>
                     <td class="label">
                         <p>
                             username
                         </p>
                         <p>
                             Must be lowercase and start with letters.
                         </p>
                     </td>
                     <td>
                         <input type="text" required="true" name="username">
                     </td>
                 </tr>
                 <tr>
                     <td class="label">
                         <p>
                             email
                         </p>
                         <p>
                             used to notify you about your account. not used for
                             any other reason and never shared.
                         </p>
                     </td>
                     <td>
                         <input name="email" type="email" required="true">
                     </td>
                 </tr>
                 <tr>
                     <td class="label">
                         <p>
                            display name
                         </p>
                         <p>
                             an optional long-form name to go by. absolutely no
                             obligation to provide your "real" name. will appear
                             in various places.
                         </p>
                     </td>
                     <td>
                         <input name="displayname" type="text">
                     </td>
                 </tr>
                 <tr>
                     <td class="label">
                         <p>
                             ssh public key
                         </p>
                         <p>
                             your ssh <strong>public</strong> key. if ssh is new
                             to you, <a
                             href="http://tilde.town/~wiki/ssh.html">check out
                             our guide for help</a>. Provide just the guts
                             of the key; it will most likely start with
                             <strong><code>AAAAB3NzaC1iyc</code></strong>
                         </p>
                     </td>
                     <td>
                         <textarea name="pubkey" required="true"></textarea>
                     </td>
                 </tr>
                 <tr>
                     <td class="label">
                         <p>
                             ssh public key type
                         </p>
                         <p>
                             You can leave this alone unless you know that you need to change it.
                         </p>
                     </td>
                     <td>
                         <select name="pubkey_type">
                         {% for choice in ssh_type_choices %}
                             <option value="{{choice.0}}">{{choice.1}}</option>
                         {% endfor %}
                         </select>
                     </td>
                 </tr>
             </table>
             <input type="submit" value="sign up <3" />
         </form>
    </body>
</html>
